@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$blue: #6495ed;
$yellow: #deb887;
$light-yellow: #faebd7;
$body-font: 'Helvetica', 'Arial', 'sans-serif';

@mixin grid($column) {
  grid-template-columns: $column 1fr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $body-font;
}

h1,
h2 {
  font-family: 'Lora';
}

header {
  background-color: $blue;
  padding: 3em 2em;
}

main {
  background-color: $light-yellow;
  padding: 2em;
}

h1 {
  margin-bottom: 0.8em;
  text-align: end;
}

h1 > a,
nav > ul > li a {
  text-decoration: none;
  color: $light-yellow;
}

li a:visited {
  color: $light-yellow;
}

li a:active,
.post-content p a:active,
section > h2 > a:active {
  color: $yellow;
}

li a:hover {
  color: white;
  text-decoration: underline;
}

nav > ul {
  list-style: none;
  text-align: end;

  & li {
    margin-top: 1em;
  }
}

article {
  background-color: white;
  padding: 2em;
  margin-bottom: 3em;
}

article > div {
  opacity: 0.6;
}

section > h2 {
  margin: 0.3em 0;

  & a {
    color: black;
    text-decoration: none;
  }
}

figure {
  margin-top: 3em;
  height: 17em;
  display: grid;
  place-items: center;

  & img {
    width: 60%;
    height: 13.75em;
    object-fit: cover;
  }
}

.post-content p {
  font-size: 0.9em;
  line-height: 1.4;

  & a,
  & a:visited {
    color: $blue;
    text-decoration: none;
  }
}

.post-content p a:hover {
  text-decoration: underline;
}

section > h2 > a:hover {
  color: $blue;
}

@media screen and (min-width: 28em) {
  body > div {
    display: grid;
    @include grid(12em);
  }

  article {
    padding: 1em;
  }

  figure {
    margin-top: 1em;

    & img {
      object-fit: contain;
      width: 90%;
    }
  }
}

@media screen and (min-width: 42em) {
  body > div {
    @include grid(15em);
  }

  main,
  article {
    padding: 3em;
  }

  figure > img {
    height: 14em;
  }
}
