@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Old+Standard+TT&display=swap');

$base-font-size: 18px;
$background-color: #fdfbfb;
$logo-size: 54px;
$logo-color: #f33;
$headline-font: 'Old Standard TT', serif;
$body-font: Arial, Helvetica, sans-serif;
$font-color: #222;

$break-small: 26em;
$break-medium: 31em;
$break-large: 60em;
